.view-case-page {
    background-color: #f9f6f2;
    margin: auto;
}

.table-general-style {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 120px;
    padding-bottom: 80px;
}

.mat-form-field {
    font-size: 18px;
    width: 30%;
}

.mat-row:nth-child(even) {
    background-color: white;
}

.mat-row:nth-child(odd) {
    background-color: #ffe9ec;
}

.mat-cell {
    justify-content: center;
    font-size: 15px;
}

.mat-header-cell {
    justify-content: center;
    font-weight: bolder;
    border-bottom-style: solid;
    font-size: 16px;
    color: gray;
}

.btn-submit {
    font-family: 'Kalam', cursive;
    background-color: #FC94AF;
    color: white;
    font-size: 20px;
    height: 40px;
    /*width: 180px;*/
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.mat-paginator {
    font-size: 18px;
}

.result-label {
    font-weight: bold;
    color: #c83349;
    margin-top: 20px;
    margin-bottom: 20px;
}
