.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
}
.mat-dialog-title{
    color: #E37D98;
}

.img-disease {
    height: 245px;
    width: 280px;
}

.h3{
    font-weight: bold;
    font-size: larger;

}

a {
    text-decoration: none;
    /* nu subliniaza link-ul */
    color: lightpink;
    /* lasa culoarea textului specificata in alte elemente, nu o schimba */
}

a:hover {
    text-decoration: none;
    /* nu subliniaza link-ul */
    color: grey ;
    /* color: inherit lasa culoarea textului specificata in alte elemente, nu o schimba */
}
