<app-header></app-header>
<div class="admin-home-page">
    <!-- CAROUSEL -->
    <!-- add this to class for left and right margin-->
    <div id="carusel" class="carousel slide  mb-5" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#carusel" data-slide-to="0" class="active"></li>
            <!-- acesta e activ cand intram pe pagina -->
            <li data-target="#carusel" data-slide-to="1"></li>
            <li data-target="#carusel" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active"><img
                    src="https://www.sanador.ro/storage/editorial/De/rm/1785/Dermatologie-Venerologie-Sanador-1s-Cover.jpg?w=2340&h=0"
                    alt="slide web" width="1920px" height="450px">
                <div class="carousel-caption d-none d-md-block">
                    <a href="#noutati-previziuni-imobiliare-2022"><h5>The Easiest way to do a Free Virtual Derma Scan
                        and ask a
                        specialized dermatologist about your skin problem!</h5></a>
                </div>
            </div>
            <div class="carousel-item "><img
                    src="https://www.callcentrehelper.com/images/stories/2019/01/network-ai-orange-blue-760.jpg"
                    alt="slide web"
                    width="1920px" height="450px">
                <div class="carousel-caption d-none d-md-block">
                    <a href="#noutati-garsoniera-chibrit"><h5>Artificial Intelligence for Smart Skin Disease
                        Classification</h5></a>
                </div>
            </div>
            <div class="carousel-item"><img
                    src="https://www.avon.ro/mediamarket-ro/5505/acnee_rozacee_unq_6dcac1bc57ce4d2d8c1ccb02c2191020.jpg"
                    alt="slide web" width="1920px" height="450px">
                <div class="carousel-caption d-none d-md-block">
                    <a href="#noutati-santiere-aprobate"><h5 class="last-slide">Over 2000 cases successfully diagnosed
                        and treated
                        on time! </h5></a>
                </div>
            </div>

        </div>

        <!-- butoanele de inainte si inapoi din stanga si dreapta fotografiei -->

        <a class="carousel-control-prev" href="#carusel" data-slide="prev"><span
                class="carousel-control-prev-icon"></span></a>
        <a class="carousel-control-next" href="#carusel" data-slide="next"><span
                class="carousel-control-next-icon"></span></a>
    </div>

    <br><br><br><br>
    <div class="container">
        <div class="text-center">
            <span class="title">Feedback from users</span>
        </div>

        <br><br><br>
        <mat-card>
            <div class="row">
                <div class="col">
                    <mat-card-title>Latest Feedback</mat-card-title>
                </div>
                <div class="col-3">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <mat-card-content>
                <mat-table [dataSource]="dataSource" matSort>
                    <!-- Date and Time Column -->
                    <ng-container matColumnDef="feedbackDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Date & Time</mat-header-cell>
                        <mat-cell *matCellDef="let feedback"> {{feedback.feedbackDate | date: 'mediumDate' }}
                            <br>{{feedback.feedbackDate | date: 'shortTime' }}</mat-cell>
                    </ng-container>

                    <!-- Username Column -->
                    <ng-container matColumnDef="username">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                        <mat-cell *matCellDef="let feedback"> {{feedback.username}} </mat-cell>
                    </ng-container>

                    <!-- Rating Column -->
                    <ng-container matColumnDef="ratingValue">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Rating</mat-header-cell>
                        <mat-cell *matCellDef="let feedback">
                            <ngb-rating [max]="5" [(rate)]="feedback.ratingValue" [readonly]="true"></ngb-rating>
                        </mat-cell>
                    </ng-container>

                    <!-- Comment Column -->
                    <ng-container matColumnDef="feedbackMessage">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Comment</mat-header-cell>
                        <mat-cell *matCellDef="let feedback"> {{feedback.feedbackMessage}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 15, 20, 25]"></mat-paginator>
            </mat-card-content>
        </mat-card>
        <br><br><br><br>
    </div>
</div>
<app-footer></app-footer>
